# Install these requirements using conda/pip install ...
numpy
scipy
matplotlib
scikit-image
scikit-learn
lxml
opencv-python
future
cython

# Python requirements for Windows and Linux
docutils
pygments
muscima

# Libraries to integrating code-coverage reporting
python-coveralls
codecov